body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

p {
    text-align: center;
}

.container a {
    text-align: center;
}

.traffic-img {
    display: block;
    width: 70%;
    margin: 0 auto;
}

.container h1, .container h3 {
    text-align: center;
}

.container form {
    width: 50%;
    margin: 0 auto;
}

form input {
    width: 100%;
}

